@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(184, 159, 255);
    color: transparent;
    -webkit-text-stroke: 1px  rgb(21, 3, 126);
}

.graficos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

body {
    background-color: rgb(250, 211, 255);
    font-family: 'Poppins', sans-serif;

}

canvas {
    position: relative; 
    height: 40vh; 
    width:40vw; 
    background-color: white; 
    border-radius: 6px; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

